<!DOCTYPE html>
<html ng-app="ShoppingListPromiseApp">
<head>
	<title>Hide and show</title>
	<script  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	 <!-- <script type="text/javascript" src="test.js"></script> --> 
    <script type="text/javascript" src="controller15.js"></script>
	<style type="text/css">
		body { font-size: 1.2em; }
	</style>
</head>
<body>
	<h1>Shopping List With a Promise</h1>
	<div ng-controller="ShoppingListController as list">
		<h3>Shopping List</h3>
		<input type="text" name="" ng-model= "list.itemName" placeholder="Item Name...">
		<input type="text" name="" ng-model="list.itemQuantity" placeholder="Quantity...">
		Boxes
		<button ng-click="list.addItem();">Add Item</button>
		<ol>
			<li ng-repeat="item in list.items">
				{{item.quantity}} boxes of {{item.name}}
				<button ng-click="list.removeItem($index);">Remove Item</button>
			</li>
		</ol>
		
	</div>
	
 
</body>
</html>