<!DOCTYPE html>
<html ng-app="MenuCategoriesApp">
<head>
	<title>Http service</title>
		<script  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	 <!-- <script type="text/javascript" src="test.js"></script> --> 
    <script type="text/javascript" src="controller16.js"></script>
</head>
<body>
	<h1>Using $HTTP service</h1>
	<div ng-controller= "MenuCategoriesController as menu">
		<h3>List of Menu Categories</h3>
		<ul>
			<li ng-repeat= "category in menu.categories">
				<a href="" ng-click="menu.longMenuItems(category.short_name);">({{category.short_name}})</a>

				{{category.name}}
				
			</li>
		</ul>
		
	</div>

</body>
</html>