<!DOCTYPE html>
<html >
<head>
	<title>Custom Filter</title>
	<script  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="test.js"></script>
	<script type="text/javascript" src="controller7.js"></script>
	<style type="text/css">
		body { font-size: 1.2em; }
	</style>
</head>
<body ng-app='CounterApp'>
        <h1>The digest Cycle</h1>
        <div ng-controller="CounterController">
        	<input type="text" name="" ng-model="age">
        	
        	<button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
        	<button ng-click="countOnce()">Up Once Counter(once)</button>
        	<button ng-click="upCounter()">Up Once Counter(many)</button>
        	<br>
        	{{Counter}}
        	<br>
        	{{onceCounter}}

        <div>
        	 
        </div>

        </div>
	

	


</body>
</html>